{% extends 'lmn/base.html' %}
{% load static %}
<!--added javaScript code to note_detail.html that loads static files-->
{% block content %}

<h2 id="note-page-title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by 
    <a href="{% url 'user_profile' user_pk=note.user.pk %}">{{ user.username }}</a>
</h2>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="7hiivJAz"></script>

{% include './_note.html' with long=True %}

<p id="note-social">
<a class="fb-share-button" data-layout="button" data-size="small" target="_blank"
   href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F{{ request.get_host }}%2Fnotes%2Fdetail%2F{{ note.pk }}%2F&amp;src=sdkpreparse"
       class="fb-xfbml-parse-ignore">Share</a>
<a href="https://twitter.com/intent/tweet?text={{ note.title }}%20-%20{{ note.text | truncatechars:20 }}%20&url=
http%3A%2F%2F{{ request.get_host }}%2Fnotes%2Fdetail%2F{{ note.pk }}%2F"
       data-size="small" target="_blank" class="twitter-share-button" data-show-count="false">Tweet</a>
</p>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p id="note-title"><b>{{ note.title}}</b></p>
<p id="note-text">{{ note.text }}</b>
{% if note.name %}
    <p>You have listed {{ note.title }}</p>
    <h3>Notes</h3>
    <P>{{ note.name|default:"No Notes" }}</P>
    <h3>Date Listed</h3>
    <p>{{ note.posted_date|default:"Date listed not set" }}</p>
    <h3>Photo</h3>
    <!-- Messages, updates, errors from form-->
    {% if messages %}
    <div class="messages">
        {% for message in messsages %}
            [{ message }]
        {% endfor %}
        </div>
    {% endif %}
    <form action="{% url 'note_details' note.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit">Save review</button>
    </form>


{% else %}

<!-- if you want to go to another page, don't need a form here -->
<a href="{% url 'modify_note' note.pk %}">
  <button type=submit class="modify">Modify Note</button>
</form>
</a>

{% endif %}

<!-- here you do need a form  -->
<form action="{% url 'delete_note' note.pk %}" method="POST">
    {% csrf_token %}
    <button type=submit class="delete">Delete</button>
</form>
<a onclick="goBack()" id="pointer">Go Back</a>
<script>
function goBack() {
  window.history.back();
}
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p id="note-title"><b>{{ note.title}}</b></p>
<p id="note-text">{{ note.text }}</b>
{% if note.name %}
    <p>You have listed {{ note.title }}</p>
    <h3>Notes</h3>
    <P>{{ note.name|default:"No Notes" }}</P>
    <h3>Date Listed</h3>
    <p>{{ note.posted_date|default:"Date listed not set" }}</p>
    <h3>Photo</h3>
    <!-- Messages, updates, errors from form-->
    {% if messages %}
    <div class="messages">
        {% for message in messsages %}
            [{ message }]
        {% endfor %}
        </div>
    {% endif %}
    <form action="{% url 'note_details' note.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit">Save review</button>
    </form>


{% else %}

<!-- todo - only show these components if user is looking at own note -->

<!-- if you want to go to another page, don't need a form here -->
<a href="{% url 'modify_note' note.pk %}">
  <button type=submit class="modify">Modify Note</button>
</form>
</a>

{% endif %}

<!-- here you do need a form  -->
<form action="{% url 'delete_note' note.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="delete">Delete</button>
</form>
<a onclick="goBack()" id="pointer">Go Back</a>
<script>
function goBack() {
  window.history.back();
}
</script>


<script src="{% static 'js/confirm_delete.js' %}"></script> <!--added script element to confirm deletion-->
{% endblock %}
