body {
  font-family: monospace;
  background: #444d4d;
  color: antiquewhite;
}

a {
  color: rgb(70, 193, 197);
}

#welcome-user-msg, #login-or-sign-up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

.error {
  color: #e60c42;
  font-weight: bold;
}

.checked {
  color: orange;
}

#pointer {
    cursor: pointer;
}
.delete {
  background-color: rgb(220, 20, 120);
  border-color: rgb(139, 0, 42);
}
button {
  margin: 6px 0px 6 px 0;
}
p {
  font-size: 120%;
  color: dimgray;
}
p.smallcaps {
  font-variant: small-caps;
}
a:link, a:visited, a:hover, a:active {
  background-color: green;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
p.important {
  border-style: solid;
  border-width: 5px;
  border-color: purple;
}
.center {
  display: block;
  margin: auto;
}
img {
  margin: auto;
  padding: 40px 25px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
img.hover {
  opacity: 1.0;
  filter: aplha(opacity=100);
}
.centertext {
  text-align: center;
}
